<md-card flex md-whiteframe="3">
    <md-card-header layout="column" style="padding:1px">
        <!--first line-->
        <div flex layout="row">
            <!--ownership area-->
            <div layout="row" layout-align="start center" flex="15" layout-wrap>
                <md-button class="md-fab md-mini" ng-show="takeToggle" md-colors="{background:'indigo-100-0.54'}" aria-label="Take Ownership"
                    ng-init="takeToggle=!(entity.alias.length>0)" ng-click="takeOwnership({fkid:entity.id,type:'code'})">
                    <md-tooltip md-direction="bottom">
                        Take Ownership
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">lock_open</md-icon>
                </md-button>
                <md-button class="md-fab md-mini" ng-show="!takeToggle" md-colors="{background:'orange'}" aria-label="Take Ownership" ng-click="releaseOwnership({fkid:entity.id,type:'code'})">
                    <md-tooltip md-direction="bottom">
                        Release Ownership
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">lock</md-icon>
                </md-button>
                <!--<div layout="row" layout-align="start center">-->
                <!--<h4>Owner</h4>-->
                <md-button md-no-ink ng-show="!takeToggle" class="md-raised md-primary none-text-transform md-mini">
                    <span>{{entity.alias}}</span>
                </md-button>
                <!--</div>-->
            </div>
            <!--title-->
            <md-card-header-text layout="row" layout-align="start center">
                <h4 flex="50"><a ng-href="{{entity.github_url}}" target="_blank">{{entity.title}}</a></h4>
                <!--info blocks-->
                <div flex layout="row" layout-align="end center" layout-wrap>
                    <!--info tags-->
                    <md-button class="md-raised md-warn md-mini none-text-transform badge1 red-badge" ng-show="{{entity.new_commit.total}}"
                        data-badge="{{entity.new_commit.total}}">
                        Commits
                        <md-tooltip md-direction="bootom">
                            New Commits on Origin GitHub
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-raised md-accent md-mini none-text-transform badge1 red-badge" ng-show="{{entity.new_issue.total}}"
                        data-badge="{{entity.new_issue.total}}">
                        Issues
                        <md-tooltip md-direction="bootom">
                            New Issue on ACom
                        </md-tooltip>
                    </md-button>
                </div>
                <!--operation blocks-->
                <div flex layout="row" layout-align="end center" layout-wrap>
                    <!--<md-button class="md-fab md-mini md-primary" ng-click="showUTDialog($event,{fkid:entity.id,type:'code'})" aria-label="Log UT">
                        <md-tooltip md-direction="bottom">
                            Add UT
                        </md-tooltip>
                        <md-icon md-font-set="material-icons">alarm_add</md-icon>
                    </md-button>-->
                    <md-button class="md-fab md-mini md-primary" ng-click="showUTDialog($event,{fkid:entity.id,type:'code',entity:entity})" aria-label="Log UT">
                        <md-tooltip md-direction="bottom">
                            Add UT
                        </md-tooltip>
                        {{entity.ut}}
                    </md-button>
                    <!--<md-button class="md-fab md-mini md-primary" ng-click="showUTDialog($event)" aria-label="Log UT">
                        <md-tooltip md-direction="bottom">
                            Edit Profile
                        </md-tooltip>
                        <md-icon md-font-set="material-icons">edit</md-icon>
                    </md-button>-->
                    <md-button class="inline md-icon-button md-toggle-icon md-primary" ng-init="QueryToggle=false" ng-click="QueryToggle=!QueryToggle"
                        ng-class="{'toggled' : QueryToggle}" aria-label="More">
                        <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>
                    </md-button>
                </div>
            </md-card-header-text>
        </div>
        <!--<md-divider style="position:relative"></md-divider>-->
        <div flex layout="row">
            <div layout="column" layout-align="end end" flex="15" layout-wrap style="padding-right:15px">
                <span class="md-caption">Last Updated: <b>{{entity.last_update| date:'yyyy-MM-dd'}}</b></span>
                <span class="md-caption">Sync Date: <b>{{entity.sync_date| date:'yyyy-MM-dd'}}</b></span>
            </div>
            <!--description-->
            <div flex="80" layout="column">
                <div layout="row" layout-align="start center">
                    <span class="md-subhead" style="font-size:14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap">{{entity.description}}
                    <md-tooltip class="tt-multiline" md-direction="botton">
                        {{entity.description}}
                    </md-tooltip>
                </span>
                </div>
                <!--platform/services tags-->
                <div layout="row" layout-align="start center" flex>
                    <md-button class="md-raised md-tiny label" md-whiteframe="1" ng-repeat="(key,product) in entity.products | removeEmtpyInArray"
                        ng-init="product=product.split(':')" ng-click="queryData(product[0],'product')">{{product[1]}}
                        <md-tooltip md-direction="bootom">
                            {{product[1]}}
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-raised md-tiny label" md-whiteframe="1" ng-repeat="(i,platform) in entity.platforms | removeEmtpyInArray"
                        ng-init="platform=platform.split(':')" ng-click="queryData(platform[0],'platform')">{{platform[1]}}
                        <md-tooltip md-direction="bootom">
                            {{platform[1]}}
                        </md-tooltip>
                    </md-button>
                </div>
            </div>
        </div>
        <md-divider style="position:relative"></md-divider>
        <div flex layout="row" layout-align="center center">
            <!--<div class="md-title">Process:</div>-->
            <div flex="15" layout="row" layout-align="center center">
                <md-select ng-model="entity.process" placeholder="Procress Status">
                    <md-option ng-repeat="status in CONST.PROGRESS_STATUS" ng-value="status">
                        {{status}}
                    </md-option>
                </md-select>
            </div>
            <div flex layout="row" layout-align="center center">
                <!--<md-progress-linear value="{{determinateValue}}"></md-progress-linear>-->
                <div class "progressBar" style="width: 90%;height: 40px;position: relative;padding-top:5px">
                    <md-progress status=entity.process></md-progress>
                </div>
            </div>
        </div>
    </md-card-header>
    <!--<md-divider style="position:relative"></md-divider>-->
    <md-card-content ng-show="QueryToggle" style="padding-top:0px">
        <md-tabs md-border-bottom md-dynamic-height md-stretch-tabs="always" style="border: 1px solid #ececec;">
            <md-tab>
                <md-tab-label>Commits</md-tab-label>
                <md-tab-body>
                    <commit-table-in-card list=CommitData></commit-table-in-card>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Issues</md-tab-label>
                <md-tab-body>
                    <issue-table-in-card list=IssueData></issue-table-in-card>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-card-content>
</md-card>