<md-content>
    <md-toolbar md-colors="{background:'light-blue-200-0.54'}" md-whiteframe="2">
        <div class="md-toolbar-tools">
            <h2 class="md-flex md-title">{{menu.currentPage.name}}</h2>
        </div>
    </md-toolbar>
    <md-card>
        <md-card-header layout="row" style="padding:1px">
            <md-card-header-text flex="10" layout-align="center center">
                <span class="md-title">Query</span>
            </md-card-header-text>
            <div flex layout="row" layout-align="center center">
                <md-input-container flex="50">
                    <label>Products</label>
                    <md-select name="type" ng-model="project.type" required multiple>
                        <md-option value="all">All</md-option>
                        <md-option value="appsrevice">App Service</md-option>
                        <md-option value="aad">Azure Active Directory</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="30">
                    <label>Platform</label>
                    <md-select name="platform" ng-model="project.platform" required multiple>
                        <md-option value="all">All</md-option>
                        <md-option value=".net">.NET</md-option>
                        <md-option value="php">PHP</md-option>
                    </md-select>
                </md-input-container>
                <md-button class="inline md-icon-button md-primary">
                    <md-icon md-font-set="material-icons" md-colors="{color:'green'}">find_in_page</md-icon>
                </md-button>
                <!--Advantage-->
                <md-button class="inline md-icon-button md-toggle-icon md-primary" ng-init="QueryToggle=false" ng-click="QueryToggle=!QueryToggle"
                    ng-class="{'toggled' : QueryToggle}" aria-label="More">
                    <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>
                </md-button>
            </div>
        </md-card-header>
        <md-divider></md-divider>
        <!--<md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card header</span>
          </md-card-title-text>
        </md-card-title>-->
        <md-card-content ng-show="QueryToggle" layout="row" layout-align="center center">
            <div flex="5" layout="row" layout-align="center center">
                <span class="md-subhead">Advantage</span>
            </div>
            <div flex></div>  
        </md-card-content>
    </md-card>
    <!--code project list-->
    <md-list>
        <md-list-item layout="row">
            <my-code-card></my-code-card>
        </md-list-item>
    </md-list>
</md-content>