<table st-table="list.result" class="bordered highlight stTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>title</th>
                    <!--<th st-sort="Author">Author</th>-->
                    <th st-sort="created_at" st-sort-default="reverse" st-skip-natural="true">Create Datetime</th>
                    <!--<th st-sort="balance">balance</th>-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in list.result">
                    <td width="100">
                        <!--<md-button class="md-icon-button md-mini" md-colors="{color:'indigo-100-0.54'}" aria-label="Take Ownership">
                            <md-tooltip md-direction="bottom">
                                Take Ownership
                            </md-tooltip>
                            <md-icon md-font-set="material-icons">lock_open</md-icon>
                        </md-button>-->
                        <md-button class="md-icon-button md-mini" ng-show="row.takeToggle" md-colors="{background:'indigo-100-0.54'}" aria-label="Take Ownership"
                            ng-init="row.takeToggle=!(row.alias.length>0)" ng-click="takeOwnership(row)">
                            <md-tooltip md-direction="bottom">
                                Take Ownership
                            </md-tooltip>
                            <md-icon md-font-set="material-icons">lock_open</md-icon>
                        </md-button>
                        <md-button class="md-icon-button md-mini" ng-show="!row.takeToggle" md-colors="{background:'orange'}" aria-label="Take Ownership"
                            ng-click="releaseOwnership(row)">
                            <md-tooltip md-direction="bottom">
                                Release Ownership
                            </md-tooltip>
                            <md-icon md-font-set="material-icons">lock</md-icon>
                        </md-button>
                    </td>
                    <td width="100">{{row.alias}}</td>
                    <td width="100">
                        <md-menu  md-offset="0 30">
                            <md-button class="md-raised md-tiny label" md-colors="{background:CONST.ISSUE_STATUS_COLOR[CONST.ISSUE_STATUS.indexOf(row.process||'New Issue')]}"
                                md-whiteframe="1" ng-click="openMenu($mdOpenMenu,$event)">{{row.process||'New Issue'}}</md-button>
                            <md-menu-content width="3">
                                <md-menu-item ng-repeat="item in CONST.ISSUE_STATUS">
                                    <md-button ng-click="changeIssueStauts(row,item)"> {{item}} </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        
                    </td>
                    <td>{{row.Type}}</td>
                    <td><a ng-href="{{row.Url}}" target="_blank">{{row.Title}}</a></td>
                    <!--<td>{{row.Author}}</td>-->
                    <td>{{row.CreateAt}}</td>
                    <td>
                        <md-button class="md-fab md-mini md-primary" ng-click="showUTDialog($event,{fkid:row.id,type:'issue',entity:row})" aria-label="Log UT">
                            <md-tooltip md-direction="bottom">
                                Add UT
                            </md-tooltip>
                            {{row.UT}}
                        </md-button>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8" style="padding:0">
                        <div st-items-by-page="5" st-pagination=""></div>
                    </td>
                </tr>
            </tfoot>
        </table>