<table st-table="list.result" class="bordered highlight stTable">
    <thead>
        <tr>
            <th></th>
            <th>Owner</th>
            <th>Status</th>
            <th>Type</th>
            <th>title</th>
            <th st-sort="Author">Author</th>
            <th st-sort="CreateAt" st-sort-default="reverse" st-skip-natural="true">Create Datetime</th>
            <!--<th st-sort="balance">balance</th>-->
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in list.result">
            <td width="100">
                <md-button class="md-icon-button md-mini" md-colors="{color:'indigo-100-0.54'}" aria-label="Take Ownership">
                    <md-tooltip md-direction="bottom">
                        Take Ownership
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">lock_open</md-icon>
                </md-button>
            </td>
            <td width="100">v-guiliu</td>
            <td width="100">
                <md-button class="md-raised md-tiny label" md-colors="{background:'red-400'}" md-whiteframe="1">Pending</md-button>
            </td>
            <td>{{row.Type}}</td>
            <td>
                <a ng-href="{{row.Url}}" target="_blank">{{row.Title}}
                    <md-tooltip class="tt-multiline" md-direction="bottom">
                        <div btf-markdown="row.Body">
                        </div>
                    </md-tooltip>
                </a>
            </td>
            <td>{{row.Author}}</td>
            <td>{{row.CreateAt}}</td>
            <td>
                <md-button class="md-icon-button md-mini md-primary" ng-click="showUTDialog($event,{fkid:row.id,type:'issue'})" aria-label="Log UT">
                    <md-tooltip md-direction="left">
                        Add UT
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">alarm_add</md-icon>
                </md-button>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8">
                <div st-items-by-page="5" st-pagination=""  st-template="public/templates/pagination.custom.html"></div>
            </td>
        </tr>
    </tfoot>
</table>